@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');


/* Color Palette */
/* :root {
  --main-gray: #c3c0c0;
  --main-gold: #b29758;
  --main-slate: #5c5f7c;
  --main-blue: #404472;
  --main-navy: #191c40;
} */

:root {
  --main-black: #0B0C10;
  --main-darkgray: #1F2833;
  --main-lightgray: #C5C6C7;
  --main-cyan: #66FCF1;
  --main-darkcyan: #45A29E;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  * {
    font-size: 100% !important;
  }
}

body {
  font-family: Poppins, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Start navbar */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  font-weight: 600;
  border-top: 1px solid gray;
}

.nav-link {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  margin: 0px 20px;
  transition: color 150ms ease-in-out 0ms;
  padding: 6px 12px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms ease-in-out 0ms;
}

:hover.nav-link {
  border-bottom: 2px solid var(--main-darkcyan)
}

/* End navbar */

/* Start welcome-section */

#welcome-wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--main-black);
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-background-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: +1;
  opacity: 15%;
  pointer-events: none;
}

#welcome-headline {
  font-size: 54px;
  font-weight: 600;
  color: var(--main-cyan);
  z-index: +2;
}

#welcome-subtext {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  z-index: +2;
}

#currently-working-on {
  margin-top: 50px;
  font-family: raleway;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
}

#down-link-projects {
  position: relative;
  text-align: center;
  bottom: 80px;
  width: 100%;

 }

.down-link-border {
 padding: 7px 14px;
 border: 1px solid var(--main-cyan);
 border-radius: 50px;
 font-size: 12px;
 font-weight: 600;
 letter-spacing: 1.5px;
 background-color: transparent;
 transition: background-color 150ms ease-in-out 0ms;
}

:hover.down-link-border {
 background-color:var(--main-darkgray)
}


/* End welcome-section */

/* Start projects */

#projects {
  background-color: var(--main-black);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  min-height: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.language-icon-wrapper {
  position: relative;
  top: 20px;
  font-size: 18px;
}

.project-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-tile {
  display: block;
}

.project-tile:hover .project-title{
  background-color: var(--main-darkgray);
}

.project-description {
  width: 400px;
  margin: 0 60px;
  color:var(--main-lightgray);
  font-style: italic;
  margin-top: 20px;
}

#recent-projects {
  width: 100%;
  max-width: 2160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}

.project-header {
  font-size: 28px;
  border-bottom: 1px solid gray;
  padding: 0 40px;
  margin-bottom: 60px;
  text-align: center;
}

#fcc-projects {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#project-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;

}

.project-thumbnail-big {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.project-thumbnail-small {
  width: 240px;
  height: 144px;
  object-fit: cover;
}

.cert-thumbnail {
  width: 400px;
  object-fit: contain;
}

.project-title {
  text-align: center;
   font-family: raleway, sans-serif;
   font-size: 11px;
   font-weight: 600;
   text-transform: uppercase;
   color: white;
   border: 2px solid var(--main-darkcyan);
   padding: 1rem 1.5rem;
   letter-spacing: 3px;
   margin-top: 10;
   background-color: transparent;
   transition: background-color 100ms linear;
}

#down-link-contacts {
  position: relative;
  text-align: center;
  width: 100%;
  top: 100px;
 }

/* End projects */

/* Start contacts */

#contact-background-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: +1;
  opacity: 10%;
  pointer-events: none;
  transform: rotate(180deg);
  transform: scaleY(-1);
}

#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-black);
  text-align: center;
}

#contact-header > h2 {
  color: var(--main-cyan);
  font-size: 44px;
  margin: 50px;
}

#contact-links {
  display: flex;
}

.contact-link {
  text-decoration: none;
  color: white;
  font-size: 28px;
  margin: 0px 30px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms ease-in-out 0ms;
  padding: 0px 20px;
}

:hover.contact-link {
  border-bottom: 3px solid var(--main-darkcyan)
}

/* End contact */

footer {
  background: var(--main-black);
  text-align: right;
  padding: 20px;
  border-top: 4px solid var(--main-gold);
}

#copyright {
  letter-spacing: 1px;
  font-size: 10px;
  color:var(--main-lightgray);
}


/* sclaing for low resolution devices  */

@media (max-width: 640px ) {

  .contact-link {
    font-size: 4.3vw !important;
}
  #down-link-projects, #down-link-contacts {
    visibility: hidden !important;
}
  #welcome-headline {
    font-size: 8.4vw !important;
  }
  #contact-header > h2 {
    font-size: 6.8vw !important;
  }
}

@media (max-width: 1440px) {
  #navbar {
    visibility: hidden !important;
  }
}